<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiuchang.system.mapper.BrewStockRecordMapper">
    
    <resultMap type="BrewStockRecord" id="BrewStockRecordResult">
        <result property="recordId"    column="record_id"    />
        <result property="materialId"    column="material_id"    />
        <result property="changeType"    column="change_type"    />
        <result property="changeQuantity"    column="change_quantity"    />
        <result property="beforeQuantity"    column="before_quantity"    />
        <result property="afterQuantity"    column="after_quantity"    />
        <result property="relatedBatchNo"    column="related_batch_no"    />
        <result property="operatorName"    column="operator_name"    />
        <result property="changeReason"    column="change_reason"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectBrewStockRecordVo">
        select record_id, material_id, change_type, change_quantity, before_quantity, after_quantity, related_batch_no, operator_name, change_reason, create_by, create_time, update_by, update_time, del_flag from brew_stock_record
    </sql>

    <select id="selectBrewStockRecordList" parameterType="BrewStockRecord" resultMap="BrewStockRecordResult">
        <include refid="selectBrewStockRecordVo"/>
        <where>  
            <if test="materialId != null "> and material_id = #{materialId}</if>
            <if test="changeType != null  and changeType != ''"> and change_type = #{changeType}</if>
            <if test="changeQuantity != null "> and change_quantity = #{changeQuantity}</if>
            <if test="beforeQuantity != null "> and before_quantity = #{beforeQuantity}</if>
            <if test="afterQuantity != null "> and after_quantity = #{afterQuantity}</if>
            <if test="relatedBatchNo != null  and relatedBatchNo != ''"> and related_batch_no = #{relatedBatchNo}</if>
            <if test="operatorName != null  and operatorName != ''"> and operator_name like concat('%', #{operatorName}, '%')</if>
            <if test="changeReason != null  and changeReason != ''"> and change_reason = #{changeReason}</if>
        </where>
    </select>
    
    <select id="selectBrewStockRecordByRecordId" parameterType="Long" resultMap="BrewStockRecordResult">
        <include refid="selectBrewStockRecordVo"/>
        where record_id = #{recordId}
    </select>

    <insert id="insertBrewStockRecord" parameterType="BrewStockRecord" useGeneratedKeys="true" keyProperty="recordId">
        insert into brew_stock_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="materialId != null">material_id,</if>
            <if test="changeType != null and changeType != ''">change_type,</if>
            <if test="changeQuantity != null">change_quantity,</if>
            <if test="beforeQuantity != null">before_quantity,</if>
            <if test="afterQuantity != null">after_quantity,</if>
            <if test="relatedBatchNo != null">related_batch_no,</if>
            <if test="operatorName != null">operator_name,</if>
            <if test="changeReason != null">change_reason,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="materialId != null">#{materialId},</if>
            <if test="changeType != null and changeType != ''">#{changeType},</if>
            <if test="changeQuantity != null">#{changeQuantity},</if>
            <if test="beforeQuantity != null">#{beforeQuantity},</if>
            <if test="afterQuantity != null">#{afterQuantity},</if>
            <if test="relatedBatchNo != null">#{relatedBatchNo},</if>
            <if test="operatorName != null">#{operatorName},</if>
            <if test="changeReason != null">#{changeReason},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateBrewStockRecord" parameterType="BrewStockRecord">
        update brew_stock_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="materialId != null">material_id = #{materialId},</if>
            <if test="changeType != null and changeType != ''">change_type = #{changeType},</if>
            <if test="changeQuantity != null">change_quantity = #{changeQuantity},</if>
            <if test="beforeQuantity != null">before_quantity = #{beforeQuantity},</if>
            <if test="afterQuantity != null">after_quantity = #{afterQuantity},</if>
            <if test="relatedBatchNo != null">related_batch_no = #{relatedBatchNo},</if>
            <if test="operatorName != null">operator_name = #{operatorName},</if>
            <if test="changeReason != null">change_reason = #{changeReason},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where record_id = #{recordId}
    </update>

    <delete id="deleteBrewStockRecordByRecordId" parameterType="Long">
        delete from brew_stock_record where record_id = #{recordId}
    </delete>

    <delete id="deleteBrewStockRecordByRecordIds" parameterType="String">
        delete from brew_stock_record where record_id in 
        <foreach item="recordId" collection="array" open="(" separator="," close=")">
            #{recordId}
        </foreach>
    </delete>
</mapper>